# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Visual Studio files
*.tlog
*.db
*.opendb

# Compilation
DX12_Sampler/x64/Debug/*
x64/Debug/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


