# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Visual Studio files
*.tlog
*.db
*.opendb
*.TMP
.vs/DX12_Sampler/v14/.suo


# Compilation files
DX12_Sampler/x64/Debug/*
x64/Debug/*


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


